.form {
    &__title{
        margin: 0 0 10px;
        font-weight: 700;
        font-family: @font1;
        font-size: 18px;
        line-height: 25px;
        color:@black;
        &--mb7 {
            margin-bottom: 7px;
        }
    }
}